@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Grape+Nuts&family=Rubik:wght@500&family=Seymour+One&display=swap');

:root {

  --color-backgroud-dark: #262A2F;
  --color-backgroud-light: #FFFFFF;

  --color-card-dark: #1E2028;
  --color-card-light: #EAEAEA;

  --color-primary-dark: #FFFFFF;
  --color-primary-light: #262A2F;

  --color-skeleton: #B5B5B5;
  --color-accent: #0083FC;


  --font-size-header-mobile:30px;
  --line-height-header-mobile:36px;

  --font-size-subheader-mobile:18px;
  --line-height-subheader-mobile:21px;

  --font-size-text-mobile:14px;
  --line-height-text-mobile:18px;
/* /tablet/ */
  --font-size-header-tablet:40px;
  --line-height-header-tablet:47px;

  --font-size-subheader-tablet:30px;
  --line-height-subheader-tablet:36px;

  --font-size-text-tablet:18px;
  --line-height-text-tablet:24px;
  /* /desktop/ */
  --font-size-header-desktop:50px;
  --line-height-header-desktop:59px;

  --font-size-subheader-desktop:40px;
  --line-height-subheader-desktop:47px;

  --font-size-text-desktop:20px;
  --line-height-text-desktop:26px;



  /* /// */
  --backgroung-zero:var(--color-backgroud-light);
  --text-color-zero:var(--color-primary-light);
  --card-color-zero:var(--color-card-light);
  --backgroung-modal-screen-zero:var(--color-backgroud-light);


  
  --font-size-header-zero:var(--font-size-header-mobile);
  --line-height-header-zero:var(--line-height-header-mobile);

  --font-size-subheader-zero:var(--font-size-subheader-mobile);
  --line-height-subheader-zero:var(--line-height-subheader-mobile);

  --font-size-text-zero:var(--font-size-text-mobile);
  --line-height-text-zero:var(--line-height-text-mobile);

}





@media (prefers-color-scheme: dark) {
  :root{
    --backgroung-zero:var(--color-backgroud-dark);
    --text-color-zero:var(--color-primary-dark);
    --card-color-zero:var(--color-card-dark);
    --backgroung-modal-screen-zero:#000000;
  }
}
 
body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroung-zero);
  color:var(--text-color-zero);
}

@media screen and (min-width: 700px) {
  :root{
    --font-size-header-zero:var(--font-size-header-tablet);
    --line-height-header-zero:var(--line-height-header-tablet);

    --font-size-subheader-zero:var(--font-size-subheader-tablet);
    --line-height-subheader-zero:var(--line-height-subheader-tablet);

    --font-size-text-zero:var(--font-size-text-tablet);
    --line-height-text-zero:var(--line-height-text-tablet);
  }

}
@media screen and (min-width: 1220px) {
  :root{
    --font-size-header-zero:var(--font-size-header-desktop);
    --line-height-header-zero:var(--line-height-header-desktop);

    --font-size-subheader-zero:var(--font-size-subheader-desktop);
    --line-height-subheader-zero:var(--line-height-subheader-desktop);

    --font-size-text-zero:var(--font-size-text-desktop);
    --line-height-text-zero:var(--line-height-text-desktop);
  }
}
.icon{
  font-size: var(--font-size-header-zero);
  color: var(--text-color-zero);
  grid-row: 1;
  justify-self: center;
}

